# Team planning for geeks: A Harry Potter inspired feature tour

Ron and Hermione have 10 weeks before their N.E.W.T. exams (Nastily Exhausting Wizarding Test) to study for the subjects Potions, Defense Against the Dark Arts, Herbology and Care of Magical Creatures.

At week 5 is the Quidditch Cup match, and both Harry and Ron have less time for their studies before the match.

Using `team_planning_for_geeks.Planner`, they map out and manage what ratio of their weekly capacity will be devoted to each subject.

In [1]:
from team_planning_for_geeks import Planner

In [2]:
names = ['ron', 'hermione', 'harry']
tasks = ['potions', 'defense', 'herbology', 'magical_critters']
tenors = range(10)
planner = Planner(names, tasks, tenors)

In [3]:
try:
    planner.initialize_values(1.5)
except ValueError as err:
    print('Value Error:', err)
    
try:
    planner.initialize_values(-0.5)
except ValueError as err:
    print('Value error:', err)

planner.initialize_values(0.)

Value Error: Some values above 1.0
Value error: Some values below 0.0

## Ron's study plan

Ron plans to only study for potions and magical creatures, and that only for the final 3 weeks.

In [4]:
coords = dict(name=['ron'], task=['potions', 'magical_critters'], tenor=range(7,10))
planner.set_values(coords, 0.1)
print("Ron's study plan")
planner.project_along('name', 'ron')

Ron's study plan

                    0    1    2    3    4    5    6    7    8    9
potions           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.1  0.1  0.1
defense           0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
herbology         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
magical_critters  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.1  0.1  0.1

## Harry's study plan

Harry will study for all tasks, but before the Quidditch cup at week 5, we will only study a little, after which he will double his efforts until exams.

In [5]:
planner.set_values(dict(name=['harry'], task=tasks, tenor=range(5)), 0.1)
planner.set_values(dict(name=['harry'], task=tasks, tenor=range(5,10)), 0.2)
print("Harry's study plan")
planner.project_along('name', 'harry')

Harry's study plan

                    0    1    2    3    4    5    6    7    8    9
potions           0.1  0.1  0.1  0.1  0.1  0.2  0.2  0.2  0.2  0.2
defense           0.1  0.1  0.1  0.1  0.1  0.2  0.2  0.2  0.2  0.2
herbology         0.1  0.1  0.1  0.1  0.1  0.2  0.2  0.2  0.2  0.2
magical_critters  0.1  0.1  0.1  0.1  0.1  0.2  0.2  0.2  0.2  0.2

## Hermione's study plan

Hermione plans to spend half a day on each of her four subjects for every week before the exams.

In [6]:
coords = dict(name=['hermione'], task=tasks, tenor=tenors)
planner.set_values(coords, 0.5)
print("Hermione's study plan:")
planner.project_along('name', 'hermione')

Hermione's study plan:

                    0    1    2    3    4    5    6    7    8    9
potions           0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5
defense           0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5
herbology         0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5
magical_critters  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5  0.5

## Aggregation and time snapshots

In [7]:
planner.sum('name')

                    0    1    2    3    4    5    6    7    8    9
potions           0.6  0.6  0.6  0.6  0.6  0.7  0.7  0.8  0.8  0.8
defense           0.6  0.6  0.6  0.6  0.6  0.7  0.7  0.7  0.7  0.7
herbology         0.6  0.6  0.6  0.6  0.6  0.7  0.7  0.7  0.7  0.7
magical_critters  0.6  0.6  0.6  0.6  0.6  0.7  0.7  0.8  0.8  0.8

In [8]:
planner.sum('task')

            0    1    2    3    4    5    6    7    8    9
ron       0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.2  0.2  0.2
hermione  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0
harry     0.4  0.4  0.4  0.4  0.4  0.8  0.8  0.8  0.8  0.8

In [9]:
planner.get_snapshot_at(1)

          potions  defense  herbology  magical_critters
ron           0.0      0.0        0.0               0.0
hermione      0.5      0.5        0.5               0.5
harry         0.1      0.1        0.1               0.1

## Queries and chaining

The `query` method returns an instance of `Planner`, which enables chaining.

In [10]:
planner.query(dict(name=['hermione'])).sum('task')

            0    1    2    3    4    5    6    7    8    9
hermione  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0  2.0

Hermione will have a hard time keeping up with her ambitious plan, unless she did not in fact return the Time Turner to Professor McGonagall at the end of their third year.